﻿- H? tên: Nguy?n Khôi <br>
- Email: khoinguyen1411998@gmail.com <br>
- Webiste: https://www.facebook.com/beocutee1411998 <br>
- Tru?ng: Ð?i h?c Su Ph?m K? Thu?t <br>
- S? thích: Bóng dá, video games, âm nh?c <br>